* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

h1 {
  font-size: 4rem;
}

.form {
  width: 350px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
button {
  padding: 12px;
}

.painel {
  padding: 20px;
}